/*Importamos la fuente externa "Noto Serif"*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
/*Descargamos la fuente esterna "Hind Siliguri" con estilo "Bold"*/
@font-face {/*
    */
    font-family: "hind";
    src: url("../fonts/HindSiliguri-Bold.ttf");
}
:root {
    /*Variables de colores*/
    --grana: rgb(159, 24, 82);
    --pastel: rgba(254, 245, 235);
    --pasteltrans: rgba(254, 245, 235, 0.75);
    --fondo: beige;
    --claro: rgb(255, 248, 248);
    /*Variables de fuentes de texto.*/
    --texto:  'Noto Serif', serif;
    --marca:  'hind', serif;
}

* {/*Limpiamos el documento de formatos por defecto.*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration:none;
}
.oculta {/*Ocultamos el título de la sección. (Se mantiene por SEO)*/
    display: none;
}

/*Fondo de pantalla de la aplicación.*/
body {
    background-color: var(--claro);
}
header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}
.logo img {
    padding-top: 15px;
    max-width: 100%;
    height: auto;
    max-height: 60px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Principal
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
#principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Sección de presentación
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

#presentacion{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 45% 45%;


}
.contenido-imagen {
    background-color: blue;

}

@media (max-width: 600px) {
    header {
        height: 50px;
        padding: 0 10px;
    }

    .logo img {
        max-height: 50px;
    }
}