/*Importamos la fuente externa "Noto Serif"*/
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Descargamos la fuente esterna "Hind Siliguri" con estilo "Bold"*/
@font-face {/*
    */
    font-family: "hind";
    src: url("../fonts/HindSiliguri-Bold.ttf");
}
:root {
    /*Variables de colores*/
    --grana: rgb(159, 24, 82);
    --pastel: rgba(254, 245, 235);
    --pasteltrans: rgba(254, 245, 235, 0.75);
    --fondo: beige;
    --claro: rgb(255, 248, 248);
    /*Variables de fuentes de texto.*/
    --texto:  'Roboto Serif', serif;
}

* {/*Limpiamos el documento de formatos por defecto.*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration:none;
}
.oculta {/*Ocultamos el título de la sección. (Se mantiene por SEO)*/
    display: none;
}

/*Fondo de pantalla de la aplicación.*/
body {
    display: grid;
    justify-content: center;
    grid-template-rows: 100px auto 150px;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #555454;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
    

}
.contenedor-header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
}
.item-logo{
    padding-top: 10px;

}
.logo{
    object-fit: contain;
}
.logo img{
    height: 70px;
    align-items: center;
    object-fit: contain;
}
/*
.logo img {
    padding-top: 15px;
    max-width: 100%;
    height: auto;
    max-height: 60px;
}*/
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Principal
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Sección de Título
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
#titulo{
    /*Ajustamos tamaño y margen superior.*/
    margin-top: 5px;
    width: 100%;
    display: flex;/*Aplicamos flex para el contenido.*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-titulo{
    width: 90%;
}

.fuente-titulo{
    font-family: var(--marca);/*Aplicamos estilo por variable.*/
    text-transform: uppercase;/*Transformamos el texto a mayusculas y centramos.*/
    text-align: center;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Sección de presentación
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

#presentacion{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: row;
    /* flex-flow: wrap; */
    margin: 35px 20px 20px 20px;
    justify-content: center;
    column-gap: 20px;


}

.contenedor-imagen{
    width: 50%;
    /* background-color: chocolate; */
}


.contenido-imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: contain; */
}
.contenido-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: contain; */
}
.creditos-imagen{
    margin-top: -25px;
    margin-right: 12px;
}
/* .contenido-creditos-imagen{
    background-color: aquamarine;
} */
.fuente-creditos-imagen{
    text-align: end;
    font-size: 0.5em;
}

.contenedor-descripcion h3{
    text-align: center;
}
.contenedor-descripcion{
    width: 50%;
}
.contenido-descripcion{
    
    margin-top: 10px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Sección de cita
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
#cita{
    /* border: 1px solid #000; */
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
}
.contenido-cita{
    display: flex;
    justify-content: center;
    
}
#boton{
    background-color: rgb(45, 93, 227);
    width: 350px;
    height: 75px;
    border-radius: 25px;
    border: 0cap;
    font-weight: bolder;
    font-size: 1.5em;
    color: #fff;
    
}
#boton:hover{
    color: rgb(106, 196, 17);
}

    
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Sección de servicios
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
#servicios{
    display: flex;
    justify-content: center;
} 
.contenedor-servicios{
    /* min-width: 92%; */
    width: 95%;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
}
.contenido-servicios p{
    margin-left: 10px;
    margin-right: 10px; 
}
.contenido-servicios h3{
    text-align: center;
    margin: 15px 15px 0 15px;
}
.contenido-servicios{
    /* width: 29%; */
    
    background-color: rgba(203, 244, 244, 0.18);
    border-radius: 15px;
}
/* #t01{
    background-color: blue;
}
#t02{
    background-color: rgb(255, 0, 17);
}
#t03{
    background-color: rgb(0, 255, 128);
} */



/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Sección de contacto
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
#contacto{
    display: flex;
    justify-content: center;
    
    /* overflow: scroll; */
    
}
.contenedor-contacto{
    /* border: 1px solid #000; */
    margin-top: 30px;
    width: 90%;
    height: 470px;
    display: grid;
    grid-template-columns: auto  minmax(600px, 1200px);
    justify-content: center;
    grid-gap: 20px;
    
}
.contenido-contacto{
    /* width: 30%; */
    width: 300px;
    align-content: center;
}
.parrafos-contacto{
    align-items: end;
}
.contenido-contacto  p{
    text-align: center;

}
.contenido-contacto  h3{
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
}
#telefono{
    margin-top: 15px;
    font-size: 1.5rem;
}
.mapa{
    /* margin-top: 20px; */
    display: flex;
    justify-content: start;
    /* margin-bottom: 20px; */
} 
.mapa iframe{
    
    width: 95%;
    height: auto;
    object-fit: cover;
    

}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
--- Cartas de enlace
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
#cartas{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.contenedor-cartas{
    /* border: 1px solid #000; */
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}
.item-card{
    border-radius: 4px;
    width: 260px;
    margin: 25px;
    background-color: var(--pastel);
    box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.50);
}
.item-img{
    border-radius: 4px 4px 0 0;
    width:100%;
    height:auto;
}
.ftexto{
    text-align: center;
    margin-top: 5px;
    font-size: 0.8rem;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
--- Footer
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

footer {
    margin-top: 30px;
    height: 200px;
    background-color: rgb(46 93 227);
    /*background-image: url(../img/PiePastel.jpg);/*Usamos imagen como fondo del footer.*/
    display: flex;/*Aplicamos flex para las dos secciones contenidas.*/
    flex-direction: column;/*Distribuimos en columna.*/
    align-items: center;
    justify-content: space-between;
}

#legal {/*Contenedor de los links legales.*/
    margin-top: 15px;
    display: flex;/*aplicamos flex para los links.*/
    justify-content: center;
}

#legal div {/*Centramos y damos margen.*/
    margin: 15px;
    text-align: center;
}

/*Cada uno de los links legales.*/
.legallink { 
    font-size: 0.9rem;
    color: white;
}

/*En caso de situar el cursor sobre el elmento, cambiamossu color y subrayamos.*/
.legallink:hover {
    text-decoration: underline;
    color: var(--pastel);
}

/*zona de copyrigth y datos del desarrollador.*/
#desarrollador {
    font-family: 'Times New Roman', Times, serif;/*Fuente desde variable.*/
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: right;
    align-self: flex-end;/*Alineamos a la derecha.*/
    color: white;/*Color de fuente desde variable.*/
}



@media (max-width: 1024px) {
    .contenedor-header {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 10px;
    }
    
    .logo img {
        max-height: 80px;
    }
    #presentacion{/*
        grid-template-columns: 1fr;
        object-fit: contain;
        justify-content: center;*/
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        
    }
    .contenedor-imagen{
        width: 80%;
        /* background-color: chocolate; */
    }
    .contenido-imagen img{
        max-width: 600px;
    }
    .contenedor-descripcion{
        width: 90%;
    }
    .cita{
        width: 100%;
    }
    
    .contenedor-servicios{
        flex-direction: column;
    }
    #contacto{
        /* flex-direction: column; */
        
    }
    iframe {
        /* max-width: 100%;
        height: auto; */
    }
    
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}