/*Importamos la fuente externa "Noto Serif"*/
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Descargamos la fuente esterna "Hind Siliguri" con estilo "Bold"*/
@font-face {/*
    */
    font-family: "hind";
    src: url("../fonts/HindSiliguri-Bold.ttf");
}
:root {
    /*Variables de colores*/
    --grana: rgb(159, 24, 82);
    --pastel: rgba(254, 245, 235);
    --pasteltrans: rgba(254, 245, 235, 0.75);
    --fondo: beige;
    --claro: rgb(255, 248, 248);
    /*Variables de fuentes de texto.*/
    --texto:  'Roboto Serif', serif;
}

* {/*Limpiamos el documento de formatos por defecto.*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration:none;
}
.oculta {/*Ocultamos el título de la sección. (Se mantiene por SEO)*/
    display: none;
}
strong{
    color: black;
}

/*Fondo de pantalla de la aplicación.*/
body {
    /* display: grid;
    justify-content: center;
    grid-template-rows: 100px auto 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    color: #555454;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
    

}
#principal{
    /* background-color: #555454; */
}
header, main{
    width: 100%;
    max-width: 1200px;
}
.contenedor-header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
}
.item-logo{
    padding-top: 10px;

}
.logo{
    object-fit: contain;
}
.logo img{
    height: 70px;
    align-items: center;
    object-fit: contain;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Principal
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Sección de Título
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
#titulo{
    /*Ajustamos tamaño y margen superior.*/
    margin-top: 5px;
    width: 100%;
    display: flex;/*Aplicamos flex para el contenido.*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-titulo{
    width: 90%;
}

.fuente-titulo{
    font-family: var(--marca);/*Aplicamos estilo por variable.*/
    /*text-transform: uppercase;Transformamos el texto a mayusculas y centramos.*/
    text-align: center;
    font-size: 1.8rem;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Sección de presentación
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.pres-sub{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: row;
    /* flex-flow: wrap; */
    margin: 35px 20px 20px 20px;
    justify-content: center;
    column-gap: 20px;
}

.contenedor-imagen-sub{
    margin-top: 50px;
    width: 30%;
    /* background-color: chocolate; */
}


.contenido-imagen{
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: cover;
    /* object-fit: contain; */
}
.contenido-imagen img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: contain; */
}
.creditos-imagen{
    /* border: 1px solid #670707;  */
    position: absolute;
    margin-top: -25px;
    margin-left: 15px;
    align-self: baseline;
}
/* .contenido-creditos-imagen{
    background-color: aquamarine;
} */
.fuente-creditos-imagen{
    text-align: end;
    font-size: 0.5em;
}

h3{
    text-align: center;
}
.contenedor-descripcion-sub{
    width: 65%;
}
.contenido-descripcion{
    margin-top: 10px;
}
.text-descripcion{
    margin-top: 15px;
    margin-left: 10px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Sección de cita
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
#cita{
    /* border: 1px solid #000; */
    margin-top: 35px;
    /* margin-bottom: 35px; */
    width: 100%;
}
.contenido-cita{
    display: flex;
    justify-content: center;
    
}
#boton{
    /* background-color: rgb(45, 93, 227); */
    background-color: #c2e7ff;
    width: 250px;
    height: 75px;
    border-radius: 25px;
    border: 0cap;
    font-weight: bolder;
    font-size: 1.5em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#boton p{
    text-align: center;
}
#boton:hover{
    color: rgb(106, 196, 17);
}



/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
--- Footer
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

footer {
    width: 100%;
    margin-top: 30px;
    height: 200px;
    background-color: rgb(46 93 227);
    background-color: #c2e7ff;
    /*background-image: url(../img/PiePastel.jpg);/*Usamos imagen como fondo del footer.*/
    display: flex;/*Aplicamos flex para las dos secciones contenidas.*/
    flex-direction: column;/*Distribuimos en columna.*/
    align-items: center;
    justify-content: space-between;
    
}

#legal {/*Contenedor de los links legales.*/
    margin-top: 15px;
    display: flex;/*aplicamos flex para los links.*/
    justify-content: center;
}

#legal div {/*Centramos y damos margen.*/
    margin: 15px;
    text-align: center;
}

/*Cada uno de los links legales.*/
.legallink { 
    font-size: 0.9rem;
    color: white;
}

/*En caso de situar el cursor sobre el elmento, cambiamossu color y subrayamos.*/
.legallink:hover {
    text-decoration: underline;
    color: var(--pastel);
}

/*zona de copyrigth y datos del desarrollador.*/
#desarrollador {
    font-family: 'Times New Roman', Times, serif;/*Fuente desde variable.*/
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: right;
    align-self: flex-end;/*Alineamos a la derecha.*/
    color: white;/*Color de fuente desde variable.*/
    line-height: 1;
    font-weight: 300;
    font-size: 1rem;
}



@media (max-width: 1024px) {
    body{
        font-size: 1.2rem;
    }
    .contenedor-header {
        margin-left: 80px;
    }
    
    .logo img {
        max-height: 80px;
    }
    #presentacion{/*
        grid-template-columns: 1fr;
        object-fit: contain;
        justify-content: center;*/
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        
    }
    .contenedor-imagen{
        width: 80%;
        /* background-color: chocolate; */
    }
    .contenido-imagen img{
        /* max-width: 600px; */
    }
    .contenedor-descripcion{
        width: 90%;
    }
    .cita{
        width: 100%;
    }
    
    .contenedor-servicios{
        flex-direction: column;
    }
    #contacto{
        /* flex-direction: column; */
        
    }
    iframe {
        /* max-width: 100%;
        height: auto; */
    }
    .contenedor-contacto{
        width: 600px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: center;

        
    }
    .contenido-contacto{
        width: 400px;
        align-self: center;
    }
    .mapa iframe{
        width: 600px;
        height: 450px;

    }
    .item-card{
        margin: 5px;
        margin-top: 15px;

    }

    
}
@media (max-width: 768px) {
    body{
        /* background-color: #555454; */
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1.0rem;
    }
    #principal{
        border: 1px solid #700808;
        justify-self: center;
        /* width: 100%;
        align-self: center;
        margin-left: 50px; */
    }
    .cuerpo{
        border: 1px solid #351eaa;
        width: 100%;
    }
}
@media (max-width: 480px) {
    h1, h2, h3{
        font-size: 1rem;
    }
    .contenedor-header{
        margin-left: 0%;
        justify-content: center;
    }
    .contenedor-contacto{
        width: 100%;
    }
    .mapa{
        width: 90%;
    }
    iframe{
        width: 300px;
    }

}